*{
    box-sizing: border-box;
}

body{
background-color:rgb(224, 191, 188);
}

.selections{
    display: flex;
    justify-content: center;
}
.selection{
    font-size: 3rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: 200ms;
}
.selection:hover{
    transform: scale(1.4);
}
.results{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2 , 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}
.result-score {
    color: rgb(133, 20, 20);
    font-size: 20px;
    margin-left: 10px;
}

.result-selection{
    opacity: .5;
    font-size: 1.5rem;
}

.result-selection.winner{
opacity: 1;
font-size: 3.3rem;
}